<body>
    <script>
        const questions = [
    {
        type: "input",
        name: "one",
        message: "enter a noun:"
    }
    ];

        function generateMarkdown(data) {
            console.log("Skip skip deedoo ${data.one}");
        };
    module.exports = generateMarkdown;
    </script>
</body>