<!-- <section class="container">
  <h3 class="radlib">{{radlib.name}}</h3>
  <section class="flex-row justify-center">
    {{#each radlib.stories as |story|}}
    {{> radlib-details}}
    {{/each}}
  </section>
</section> -->
<body>
  <h1>the story</h1>
  <div class="radlib-details">
    {{> radlib-details}}
  </div>

  <script>
    const generateMarkdown = require("/partials/radlib-details.handlebars");

    function writeToFile(filePath, answers) {
    console.log("Output Data:", answers)
    const template = generateMarkdown(answers)
    fs.writeFile(filePath, template, function (err) {
    if (err) {
        return console.error(err);
        }   
    });
    console.log("Data has been written to the file successfully!");
  };

  function init() {
      inquirer.prompt(questions).then(answers => {
          // console.log(answers);
          writeToFile("answers.md", answers);
      });
  };

  // Function call to initialize app

  init();
  </script>

</body>

