<!-- <section class="container">
  <h3 class="radlib">{{radlib.name}}</h3>
  <section class="flex-row justify-center">
    {{#each radlib.stories as |story|}}
    {{> radlib-details}}
    {{/each}}
  </section>
</section> -->
<body>
  <p>Type in your answers below.</p>

  <script id="entry-template" type="radlib">
    <div class="entry">
      <h1>{{title}}</h1>
      <div class="body">
        {{body}}
      </div>
    </div>
  </script>
</body>

